#root, body, html, .App {
	width: 100%;
	height: 100%;
	background-color: rgb(20,20,20);
}

#banner {
	width: 100%;
	background-color: rgb(100,100,100);
	color: white;
	height: 6%;
	display: flex;
	align-items: center;
	margin: 0;
}

#banner h1 {
	margin:0 0 0 40px;
	font-size: 1.75em;
}

#content {
	width:100%;
	height: 94%;
}

.page {
	width: 100%;
	height: 100%;
}