.deckListing {
	margin-bottom: 10px;
}

.deckOverview {
	display: flex;
	align-items: center;
	padding: 10px;
	background-color: white;
	width: calc(100% - 20px);
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.deckOverview:hover {
	cursor: pointer;
}

.deckOverview h1 {
	font-size: 1.5em;
	margin: 0;
	color: rgb(80,80,80);
	text-align: left;
}

.deckName {
	width: 60%;
	color: black !important;
}

.deckHouses {
	width: 40%;
}