.deckListing {
	margin-bottom: 10px;
}

.deckOverview {
	display: flex;
	align-items: center;
	padding: 10px;
	background-color: white;
	width: calc(100%);
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.deckOverview:hover {
	cursor: pointer;
}

.deckOverview h1 {
	font-size: 1.25em;
	margin: 0;
	color: rgb(80,80,80);
	text-align: left;
}

.deckName {
	width: 60%;
	color: black !important;
}

.deckHouses {
	width: 40%;
}

.deckDetails {
	margin-left: 2%;
	margin-top: 10px;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}

.card {
	display: flex;
	margin: 4px;
}

.card p {
	margin: 0;
	border-radius: 5px;
	padding: 4px 10px 4px 10px;
}

.cardName {
	background-color: rgb(50,50,50);
	color: rgb(240,240,240);
	text-align: left;
	flex-grow: 1;
}

.cardQuantity {
	margin-left: 5px !important;
	color: white;
	background-color: #284DB5;
	text-align: center;
	border-radius: 5px;
}