.searchFilters {
	width: 100%;
	padding: 20px 20px 0px 20px;
	border-radius: 10px;
}

.searchContainer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.searchContainer input {
	width: 75%;
	text-indent: .5em;
	background-color: rgb(220,220,220);
	border: 2px solid white;
	border-radius: 2px;
	padding: 2px;
	cursor: text;
	color: black;
}

.searchContainer button {
	padding: 4px;
	width: 20%;
	background-color: white;
	border: 0;
	outline: none;
	border-radius: 2px;
}

.dropFilter {
	margin: 20px 0 20px 0;
}

.dropFilter, .filterButtons {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.dropButton {
	background-color: rgb(150,150,150);
	border: 0;
	color: white;
	outline: 0;
	border-radius: 2px;
	padding: 2px 10px 2px 10px;
}

.filterButtons span {
	margin-left: 20px;
}

.filterButtons span * {
	float: left;
}

.filterButtons span label {
	margin-left: .5em;
}

.filterOption:checked + label {
	color: white;
}

.searchFilters button:hover {
	box-shadow: inset 0 0 0 10000px rgba(0,0,0,0.20);
}

.dropFilter button{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.selectAllButton {
	width: 80%;
	background-color: rgb(220,220,220);
	margin: 10px 0 10px 20px;
	padding: 2px 10px 2px 10px;
	outline: none;
	border: 0;
	border-radius: 2px;
}

.collapsed {
	display: none;
}
