.sortContainer {
	width: calc(100% - 20px);
	background-color: #5E5F68;
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	padding: 10px;
	height: calc(10% - 20px);
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.sortContainer span input {
	display: none;
}

.sortContainer span label {
	font-size: 1.5em;
}

.sortContainer span label:hover {
	color: black;
}

.sortContainer span input:checked + label {
	color: white;
}

.items {
	margin-top: 8px;
	height: calc(90% - 8px);
	display: flex;
	flex-direction: column;
}