/* Listings Container (base class) */

.listingOptions {
	height: calc(10% - 20px;);
	display: flex;
	flex-grow: 1;
	margin-bottom: 20px;
}

.optionsContainer {
	flex-grow: 1;
	background-color: #5E5F68;
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;	
}

.sortOptions {
	min-width: 75%;
}

.sortOptions span input {
	display: none;
}

.sortOptions span label {
	font-size: 1.5em;
}

.sortOptions span label:hover {
	color: black;
}

.sortOptions span input:checked + label {
	color: white;
}

.sortOptions span label i {
	font-size: .75em;
	margin-left: .5em;
}

.resultsCount {
	width: 100%;
	background-color: #5E5F68;
	padding: 10px;
	border-radius: 10px;
}

.resultsCount p {
	margin: 0;
	font-size: 1.35em;
	color: rgb(220,220,220);
	text-align: left;
}

.items {
	margin-top: 8px;
	height: calc(90% - 8px);
	display: flex;
	flex-direction: column;
}

/* Card Listings Container */
.displayOptions {
	margin-left: 20px;
}

.displayOptions input {
	display: none;
}

.displayOptions input:checked + label {
	color: white;
}

.displayOptions label {
	font-size: 2em;
}

.displayOptions label:hover {
	color: black;
}
